body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(184, 169, 149);
}

.container {
    background-color: rgb(1, 0, 0);
    height: 75vh;
    width: 400px;
    margin-top: 50px;
    border-radius: 50px;
   
}

.textarea {
    background-color: transparent;
    height: 150px;
    width: 365px;
    border-radius: 50px;
    color:white;
    margin: 0px;
    margin-right: 15px;
    margin-left: 15px;;
}

#display {
   display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    box-sizing: border-box; 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 50px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: white;
    border-style: hidden;
    outline: none;
}

.buttons {
    padding-left: 10px;
}

.orange {
    background-color: rgba(255, 159, 10);
    color: white;
}
.grey {
    background-color: rgba(166, 166, 167);
    color: black;
    font-size: 35px;
}

button {
    height: 80px;
    width: 80px;
    border-radius: 100px;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: rgba(50, 51, 50);
    color: white;
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    border-style: hidden;
    
}

#zero {
    width: 175px;
}

